nav{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    position: relative;
    z-index: 2;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar a:hover{
    color: orange;
}
#hamburger {
    display: none;
}
.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: black;
    text-decoration: none;
}
.menu.active {
    display: block;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("ayryoga.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

#intro{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100vw;
}
#intro article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    padding-right: 20%;
    color: whitesmoke;
}
#outside{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.838);
    width: 95vw;
}
#inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-size: 1.5rem;
}

#inside p{
    text-align: center;
}

iframe{
    height: 30vh;
    width: 30vw;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5%;
}
#footerp1{
    display: flex;
    justify-items: flex-end;
}
#footerp1 article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 200 !important;
    line-height: 0.3;
    flex-direction: column;

}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
input[type="text"], textarea[name="message"], input[type="email"] {
    background-color: black;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px green solid;
    color: white;

}

#inputsp1, #inputsp2, #inputsp3{
    display: flex;
    justify-content: center;
    padding: 5%;
}

#inputsp1 .input-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-right: 20%;
    padding-left: 20%;
}
#footcont{
    font-size: 3rem;
    font-weight: 200 !important;
}
#footerinline{
    font-size: 1.5rem;
    font-weight: 200 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#footerinline a{
    padding: 2%;
}
#footerinline article{
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 1400px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    iframe{
        width: 40vw;
    }
}
@media only screen and (max-width: 1000px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    #intro p{
        font-size: 6rem !important;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 4%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    iframe{
        width: 40vw;
    }
}
@media only screen and (max-width: 650px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    #intro{
        background-position: center;
    }
    #intro p{
        font-size: 4rem;
        padding-right: 0;
        margin-left: 40%;
    }
    iframe{
        width: 60vw;
    }
    footer {
        padding: 1%; 
        font-size: 0.9rem; 
    }

    #footerp1 article p,
    #footcont {
        font-size: 0.9rem; 
        line-height: 1.2; 
    }

    #begin {
        font-size: 1.2rem; 
        text-align: center;
    }

    
    .contact-form {
        width: 90%; 
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        width: 100%; 
        font-size: 1.2rem; 
        padding: 12px; 
        height: 50px; 
        box-sizing: border-box;
    }

    
    .form-submit button {
        font-size: 0.9rem;
        padding: 5px 10px; 
    }

    
    #footerinline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }

    #footerinline img {
        width: 20px; 
        height: 20px;
    }

    .input-wrapper input{
        width: 30vw;
        height: 4vh;
    }

    #footerinline a img{
        width: 10vw;
        height: 5vh;
        margin-top: 5%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #footerinline p{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:500px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    #intro{
        background-position: center;
    }
    #intro p{
        font-size: 4rem !important;
        padding-right: 0;
        margin-left: 40%;
    }
    iframe{
        width: 60vw;
    }
    footer {
        padding: 1%; 
        font-size: 0.9rem; 
    }

    #footerp1 article p,
    #footcont {
        font-size: 0.9rem; 
        line-height: 1.2; 
    }

    #begin {
        font-size: 1.2rem; 
        text-align: center;
    }

    
    .contact-form {
        width: 90%; 
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        width: 100%; 
        font-size: 1.2rem; 
        padding: 12px; 
        height: 50px; 
        box-sizing: border-box;
    }

    
    .form-submit button {
        font-size: 0.9rem;
        padding: 5px 10px; 
    }

    
    #footerinline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }

    #footerinline img {
        width: 20px; 
        height: 20px;
    }

    .input-wrapper input{
        width: 30vw;
        height: 4vh;
    }

    #footerinline a img{
        width: 10vw;
        height: 5vh;
        margin-top: 5%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #footerinline p{
        font-size: 1rem;
    }
}
