*{
    font-family: 'Roboto', sans-serif;
}
nav{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    position: relative;
    z-index: 2;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar a:hover{
    color: orange;
}

#hamburger {
    display: none;
}
.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: black;
    text-decoration: none;
}
.menu.active {
    display: block;
}
#intro{
    font-size: 9rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url("detox.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}
#intro p{
    padding-right: 30%;
    color: white;
}

.article1{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(53, 53, 53);
}

.article1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 1.5rem;
    font-weight: 200;
}
.article1 article h2{
    font-size: 2rem;
    font-weight: 500;
}
.textimage{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 53);
}

.textout, .imageout{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.textout, .imageout2{
    padding-right: 5%;
}
.imageout, .textin2{
    padding-left: 5%;
}
.textin{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    width: 50%;
}
.imagein{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.imagein img, .imagein2 img{
    width: 60%;
    height: 90%;
}

.textimage{
    display: flex;
    justify-content: center;
    background-color: rgb(53,53,53);
}
.textout, .imageout{
    width: 48%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.textout, .imageout2{
    padding-right: 2%;
}
.imageout, .textin2{
    padding-left: 2%;
}

.textin, .textin2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    width: 50%;
}
.imagein{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.imagein img, .imagein2 img{
    width: 48%;
    height: 85%;
}

.textout2, .imageout2{
    width: 48%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.imagein2{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.imageout3{
    width: 48%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.imagein3{
    display: flex;
    justify-content: center;
    width: 100%;
}

.textin2{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    width: 50%;
}

.doubleimage{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    padding-bottom: 1%;
}
.doubleimage a{
    width: 100%;
    max-width: 20vw !important;
    height: 30vh;
}
.doubleimage img{
    width: 20vw;
    height: 30vh;
}
.doubleimage iframe{
    width: 20vw;
    height: 30vh;
}
#threeimage{
    display: flex;
    justify-content: center;
    height: 25vh;
    background-color: rgb(53, 53, 53);
    padding-top: 1.5%;
}
#images{
    display: flex;
    justify-content: space-evenly;
}

#images iframe{
    width: 20vw;
    height: 25vh;
    
}

.bigimage{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    height: 40vh;
    padding-top: 1.5%;
}
.bigimage aside{
    display: flex;
    justify-content: center;
    
}

.bigimage iframe{
    width: 50vh;
    height: 35vh;
}
.bar{
    background-color: rgb(108, 104, 104);
    height: 2vh;
}

#obtain{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    height: 20vh;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 4%;
}

#obtain article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#obtain article a{
    color: white;
    border-radius: 15%;
    padding: 1%;
}

#threeimage a{
    width: 100%;
    height: 100%;
}

.imagein2 a{
    display: flex;
    justify-content: flex-end;
}

#page{
    display: flex;
    justify-content: flex-start;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5%;
}
#footerp1{
    display: flex;
    justify-items: flex-end;
}
#footerp1 article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 200 !important;
    line-height: 0.3;
    flex-direction: column;

}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
input[type="text"], textarea[name="message"], input[type="email"] {
    background-color: black;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px green solid;
    color: white;

}

#inputsp1, #inputsp2, #inputsp3{
    display: flex;
    justify-content: center;
    padding: 5%;
}

#inputsp1 .input-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-right: 20%;
    padding-left: 20%;
}
#footcont{
    font-size: 3rem;
    font-weight: 200 !important;
}
#footerinline{
    font-size: 1.5rem;
    font-weight: 200 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#footerinline a{
    padding: 2%;
}
#footerinline article{
    display: flex;
    justify-content: flex-end;
}


@media only screen and (max-width: 1400px){
    .doubleimage iframe{
        width: 20vw;
        height: 18vw;
    }
    #page .imagein a{
        height: 25vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #images{
        width: 100vw;
    }
    #threeimage iframe{
        width: 27vw;
    }
}

@media only screen and (max-width: 1250px){
    .doubleimage iframe{
        width: 20vw;
        height: 18vw;
    }
    #page .imagein a{
        height: 22vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .imagein2 img{
        margin-top: 10%;
        max-width: 25vw;
        max-height: 30vh;
    }
    #images{
        width: 100vw;
    }
    #threeimage iframe{
        width: 27vw;
    }
}
@media only screen and (max-width: 1100px){
    .doubleimage iframe{
        width: 25vw;
        height: 18vw;
    }
    #page .imagein a{
        width: 30vw;
        height: 22vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .imagein2 img{
        margin-top: 10%;
        max-width: 25vw;
        max-height: 30vh;
    }
    #images{
        width: 100vw;
    }
    #threeimage iframe{
        width: 27vw;
    }
}
@media only screen and (max-width: 1000px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    .doubleimage{
        flex-direction: column;
    }
    .doubleimage aside{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    .doubleimage aside iframe{
        width: 35vw;
        height: 22vh;
    }
    .textimage img{
        width: 60%;
    }
    #page .imagein a img {
        width: 100% !important; 
        height: auto !important; 
        max-width: 40vw !important; 
    }
    #page .imagein {
        width: 100% !important;
        display: block !important; 
    } 
}

@media only screen and (max-width: 850px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    #intro{
        font-size: 6rem !important;
    }
    .doubleimage{
        flex-direction: column;
    }
    .doubleimage aside{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
    }
    .doubleimage aside iframe{
        width: 35vw;
        height: 22vh;
    }
    .textimage{
        flex-direction: column;
        align-items: center;
    }
    .textimage img{
        width: 40vw;
    }
    .textimage .imagein2 img{
        height: 20vh;
        max-width: none !important;
        width: 100% !important;
        margin-right: 10%;
    }
    .textout, .textout2, .textin, .textin2{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .textimage p{
        width: 70%;
    }
    #page .imagein a img {
        width: 100% !important; 
        height: auto !important; 
        max-width: 40vw !important; 
    }
    #page .imagein {
        width: 100% !important;
        display: block !important; 
    } 
    .article1{
        height: 25vh !important;
    }
    .article1 p{
        line-height: 1.2;
        width: 80%;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
    .bigimage{
        align-items: flex-end;
    }
}
@media only screen and (max-width: 750px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    #intro{
        font-size: 6rem !important;
    }
    .doubleimage{
        flex-direction: column;
    }
    .doubleimage aside{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
    }
    .doubleimage aside iframe{
        width: 50vw;
        height: 22vh;
    }
    #threeimage {
        flex-direction: column; /* Change the direction to column */
        align-items: center; /* Center align the elements */
        height: 60vh;
    }
    #images {
        flex-direction: column; /* Apply column direction to images */
        align-items: center;
    }
    #images iframe{
        height: 20vh;
        width: 40vw;
    }
    #images .imageout, #images .imageout2, #images .imageout3{
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    #images .imageout3{
        margin-right: 6%;
    }
    #images .imageout2{
        margin-right: 12%;
    }
    .textimage{
        flex-direction: column;
        align-items: center;
    }
    .textimage img{
        width: 40vw;
    }
    .textimage .imagein2 img{
        height: 20vh;
        max-width: none !important;
        width: 100% !important;
        margin-right: 10%;
    }
    .textout, .textout2, .textin, .textin2{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .textimage p{
        width: 70%;
    }
    #page .imagein a img {
        width: 100% !important; 
        height: auto !important; 
        max-width: 60vw !important; 
    }
    #page .imagein {
        width: 100% !important;
        display: block !important; 
    } 
    .article1{
        height: 35vh !important;
    }
    .article1 p{
        line-height: 1;
        width: 80%;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
    .bigimage{
        align-items: flex-end;
    }
    footer {
        padding: 1%; 
        font-size: 0.9rem; 
    }

    #footerp1 article p,
    #footcont {
        font-size: 0.9rem; 
        line-height: 1.2; 
    }

    #begin {
        font-size: 1.2rem; 
        text-align: center;
    }

    
    .contact-form {
        width: 90%; 
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        width: 100%; 
        font-size: 1.2rem; 
        padding: 12px; 
        height: 50px; 
        box-sizing: border-box;
    }

    
    .form-submit button {
        font-size: 0.9rem;
        padding: 5px 10px; 
    }

    
    #footerinline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }

    #footerinline img {
        width: 20px; 
        height: 20px;
    }

    .input-wrapper input{
        width: 30vw;
        height: 4vh;
    }

    #footerinline a img{
        width: 10vw;
        height: 5vh;
        margin-top: 5%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #footerinline p{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 550px){
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    #intro{
        font-size: 4rem !important;
    }
    .doubleimage{
        flex-direction: column;
    }
    .doubleimage aside{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    .doubleimage aside iframe{
        width: 55vw;
        height: 22vh;
    }
    #threeimage {
        flex-direction: column; 
        align-items: center; 
        height: 60vh;
    }
    #images {
        flex-direction: column; 
        align-items: center;
    }
    #images iframe{
        height: 20vh;
        width: 60vw;
    }
    #images .imageout, #images .imageout2, #images .imageout3{
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 70vw;
    }
    
    
    .textimage{
        flex-direction: column;
        align-items: center;
    }
    .textimage .imageout{
        width: 100vw;
        height: 18vh;
        justify-content: center;
    }
    .textimage .imageout img{
        margin-left: 20%;
    }
    .textimage img{
        width: 60vw;
    }
    .textimage .imagein2 img{
        height: 20vh;
        max-width: none !important;
        width: 100% !important;
        margin-right: 10%;
    }
    .textout, .textout2, .textin, .textin2{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .textimage p{
        width: 70%;
    }
    #page .imagein a img {
        width: 100% !important; 
        height: auto !important; 
        max-width: 60vw !important; 
    }
    #page .imagein {
        width: 100% !important;
        display: block !important; 
    } 
    .article1{
        height: 35vh !important;
    }
    .article1 p{
        line-height: 1;
        width: 80%;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
        text-indent: 5%;
        margin-top: 2%;
    }
    .article1 h2{
        line-height: 1;
        width: 80%;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
    .bigimage{
        align-items: flex-end;
    }
    .bigimage iframe{
        width: 80vw;
    }

    footer {
        padding: 1%; 
        font-size: 0.9rem; 
    }

    #footerp1 article p,
    #footcont {
        font-size: 0.9rem; 
        line-height: 1.2; 
    }

    #begin {
        font-size: 1.2rem; 
        text-align: center;
    }

    
    .contact-form {
        width: 90%; 
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        width: 100%; 
        font-size: 1.2rem; 
        padding: 12px; 
        height: 50px; 
        box-sizing: border-box;
    }

    
    .form-submit button {
        font-size: 0.9rem;
        padding: 5px 10px; 
    }

    
    #footerinline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }

    #footerinline img {
        width: 20px; 
        height: 20px;
    }

    .input-wrapper input{
        width: 30vw;
        height: 4vh;
    }

    #footerinline a img{
        width: 10vw;
        height: 5vh;
        margin-top: 5%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #footerinline p{
        font-size: 1rem;
    }
}
