*{
    font-family: 'Roboto', sans-serif;
}
nav{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    position: relative;
    z-index: 2;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar a:hover{
    color: orange;
}

#first{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#out{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5%;
    margin-right: 25%;
    font-size: 2rem;
}
#out #in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    gap: 0;
    line-height: 0;
}
#out2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#first aside{
    height: 60vh;
}
#out2 #in2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    color: hsl(57,85%,76%);
    margin-bottom: 3.3%;
    gap: 0;
    line-height: 0;
}


#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-weight: 200 !important;
}
#intro h2{
    font-size: 3rem;
    font-weight: 200 !important;
}
#intro p{
    width: 60%;
    font-size: 2rem;
    text-align: center;
}

#intro aside{
    margin: 0;
    padding: 0;
}

#main1{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}

.text .img{
    max-width: 25%;
    width: fit-content;
    height: 50vh;
}
.text{
    display: flex;
    justify-content: center;
}
.text section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.text p{
    width: 60%;
    margin: 0;
    padding: 0;
}
.img{
    display: flex;
    justify-content: center;
}
.redlink{
    margin-top: 10%;
    color: yellow;
    text-decoration: none;
}

.bar{
    height: 4vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
}








#main2{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.text2, .img2{
    flex: 2;
    max-width: 25% !important;
    width: fit-content !important;
    height: 50vh;
    font-size: 1.5rem;
}

.text2{
    display: flex;
    justify-content: center;
}
.text2 h2{
    font-weight: 200 !important;
}
.text2 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    text-align: center;
}
.img2{
    display: flex;
    justify-content: center;
    
}

#youtube{
    max-width: min-content;
}

.redlink2{
    color: red;
    text-decoration: none;
}

.text2 a:hover{
    background-color: rgb(160, 168, 253);
    width: 100%;
    
}

.text a:hover{
    background-color: rgb(165, 160, 160);
    width: 60%;
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5%;
}
#footerp1{
    display: flex;
    justify-items: flex-end;
}
#footerp1 article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 200 !important;
    line-height: 0.3;
    flex-direction: column;

}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
input[type="text"], textarea[name="message"], input[type="email"] {
    background-color: black;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px green solid;
    color: white;

}

#inputsp1, #inputsp2, #inputsp3{
    display: flex;
    justify-content: center;
    padding: 5%;
}

#inputsp1 .input-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-right: 20%;
    padding-left: 20%;
}
#footcont{
    font-size: 3rem;
    font-weight: 200 !important;
}
#footerinline{
    font-size: 1.5rem;
    font-weight: 200 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#footerinline a{
    padding: 2%;
}
#footerinline article{
    display: flex;
    justify-content: flex-end;
}
