*{
    font-family: 'Roboto', sans-serif;
    font-weight: 200 !important;
}
nav{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    position: relative;
    z-index: 2;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar a:hover{
    color: orange;
}
#hamburger {
    display: none;
}
.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: black;
    text-decoration: none;
}
.menu.active {
    display: block;
}
main{
    padding-top: 2.5%;
    background-color: hsl(223, 59%, 31%);
}
#image{
    width: 100%;
    height: 75vh;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.in{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    color: white;
}
#words{
    color: white;
    font-size: 1.5rem;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course{
    display: flex;
    justify-content: center;
}
#imagec1, #textc1{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic1in{
    
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("baloons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ic1in p{
    margin-bottom: 30%;
    margin-right: 30%;
    color: rgb(36, 60, 94);
}
#c1in{
    line-height: 0.5;
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem; 
}








#imagein, #textc2{
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
}

#imagein{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 156);
    width: 100%;
    background-image: url("leaves.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#textc2{
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

#textin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textin p{
    max-width: 50%;
    text-indent: 8%;
    font-size: 1.7rem;
    line-height: 1.7;
}
a{
    padding-top: 1.5%;
    color: yellow;
    text-decoration: none;
}
#textin a{
    font-size: 1.5rem;
}







#imagec3, #textc3{
    color: black;
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: center;
}
#textc3{
    color:white;
}
#ic3in{
    
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    background-image: url("pie.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#ic3in p{
    max-width: 60%;
    line-height: 1.7;
    margin-bottom: 14%;
    margin-left: 2%;
}
#c3in{
    
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}
#c3in p{
    max-width: 50%;
    text-indent: 5%;
    line-height: 1.7;
    font-size: 1.7rem;
}
#c3in a{
    font-size: 1.5rem;
}






#imagec4, #textc4{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic4in{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("massbackround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    width: 100%;
}
#ic4in h2{
    font-size: 4rem;
    color: white;
    margin-top: 26%;
    margin-right: 53%;
    font-weight: 400 !important;
}

#c4in{
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}
#c4in p{
    line-height: 1.7;
    max-width: 60%;
    text-indent: 8%;
    font-size: 1.7rem;
}
#c4in a{
    font-size: 1.5rem;
}




#imagec5, #textc5{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic5in{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("detox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ic5in h2{
    font-size: 4rem;
    max-width: 60%;
    margin-left: 10%;
    font-weight: 450 !important;
}
#c5in{
    line-height: 0.5;
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}
#c5in p{
    font-size: 1.7rem;
    text-indent: 8%;
    line-height: 1.7;
    max-width: 60%;
}




#imagec6, #textc6{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic6in{
    
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("smell2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ic6in h2{
    font-size: 3rem;
    margin-bottom: 30%;
    max-width: 60%;
}
#c6in{
    line-height: 0.5;
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}
#c6in p{
    font-size: 1.7rem;
    text-indent: 8%;
    line-height: 1.7;
    max-width: 60%;
}
#c6in a{
    font-size: 1.5rem;
}






#imagec7, #textc7{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic7in{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ic7in h2{
    font-size: 3rem;
    max-width: 60%;
    margin-bottom: 30%;
    color: black;
}
#c7in{
    font-size: 1.5rem;
    line-height: 0.5;
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
}
#c7in p{
    text-indent: 8%;
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 60%;
}
#c7in a{
    font-size: 1.5rem;
}




#imagec8, #textc8{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic8in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("dream.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ic8in h2{
    font-size: 3rem;
    max-width: 70%;
    margin-bottom: 30%;
    color: hsl(208, 28%, 24%);
    font-weight: 450 !important;
}
#c8in{
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
}
#c8in p{
    text-indent: 8%;
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 60%;
}
#c8in a{
    font-size: 1.5rem;
}




#imagec9, #textc9{
    color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#ic9in{
    
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("cofee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ic9in h2{
    margin-bottom: 35%;
}
#c9in{
    line-height: 0.5;
    background-color: hsl(208, 28%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}
#c9in p{
    font-size: 1.7rem;
    text-indent: 8%;
    line-height: 1.7;
    max-width: 60%;
}

.gap{
    background-color: hsl(208, 28%, 24%);
    padding: 0.35%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5%;
}
#footerp1{
    display: flex;
    justify-items: flex-end;
}
#footerp1 article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 200 !important;
    line-height: 0.3;
    flex-direction: column;

}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
input[type="text"], textarea[name="message"], input[type="email"] {
    background-color: black;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px green solid;
    color: white;

}

#inputsp1, #inputsp2, #inputsp3{
    display: flex;
    justify-content: center;
    padding: 5%;
}

#inputsp1 .input-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-right: 20%;
    padding-left: 20%;
}
#footcont{
    font-size: 3rem;
    font-weight: 200 !important;
}
#footerinline{
    font-size: 1.5rem;
    font-weight: 200 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#footerinline a{
    padding: 2%;
}
#footerinline article{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 1400px){
    #ic1in p{
        margin-bottom: 42%;
    }
    #imagein p{
        margin-top: 10%;
    }
    #ic4in h2{
        margin-top: 43%;
    }
    #ic6in h2{
        margin-bottom: 40%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px){
    #ic1in p{
        margin-bottom: 60% !important;
        margin-right: 0;
    }
    #imagein p{
        margin-top: 15%;
        font-size: 2.4rem;
    }
    #ic4in h2{margin-left: 7%;
        margin-top: 45%;
    }
    #c4in p{
        font-size: 1.5rem;
    }
    #c5in p{
        font-size: 1.5rem;
    }
    #ic6in h2{
        margin-bottom: 40%;
    }
    #c6in p{
        font-size: 1.6rem;
    }
    #c8in p{
        font-size: 1.4rem;
    }
    #ic9in h2{
        margin-bottom: 60%;
        margin-left: 23%;
    }
    
}
@media only screen and (min-width: 550px) and (max-width: 999px){
    *{
        box-sizing: border-box;
    }
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; 
        height: 18px; 
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; 
    }
    #words p{
        margin-left: 10%;
    }
    .course{
        display: flex;
        flex-direction: column-reverse !important;
    }
    #textc1, #textc2, #textc3, #textc4, #textc5, #textc6, #textc7, #textc8, #textc9{
        width: 100%;
    }
    #imagec1, #imagein, #imagec3, #imagec4, #imagec5, #imagec6, #imagec7, #imagec8, #imagec9{
        width: 100%;
    }
    #ic1in p{
        margin-right: 0;
        margin-bottom: 60%;
    }
    #imagein p{
        margin-top: 15%;
        font-size: 2.4rem;
    }
    #ic4in h2{
        margin-left: 7%;
        margin-top: 25%;
    }
    #c4in p{
        font-size: 1.5rem;
    }
    #ic5in h2{
        font-size: 3rem;
    }
    #c5in p{
        font-size: 1.5rem;
    }
    #ic6in h2{
        margin-bottom: 40%;
    }
    #c6in p{
        font-size: 1.6rem;
    }
    #c8in p{
        font-size: 1.4rem;
    }
    #ic9in h2{
        margin-bottom: 37%;
    }

    #footerp1 p{
        line-height: 1;
    }
    .contact-form {
        width: 90%; 
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        width: 100%; 
        font-size: 1.2rem; 
        padding: 12px; 
        height: 50px; 
        box-sizing: border-box;
    }

    
    .form-submit button {
        font-size: 0.9rem;
        padding: 5px 10px; 
    }

    
    #footerinline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }

    #footerinline img {
        width: 20px; 
        height: 20px;
    }

    .input-wrapper input{
        width: 30vw;
        height: 4vh;
    }

    #footerinline a img{
        width: 10vw;
        height: 5vh;
        margin-top: 5%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #footerinline p{
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width: 550px){
    *{
        box-sizing: border-box;
    }
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    #navbar {
        display: flex; 
    }

    #navlogo {
        display: block; 
        height: 5vh;
        margin-right: auto; 
    }
    
    #navbar li:not(:first-child) {
        display: none; 
    }

    #hamburger {
        width: 20px; /* smaller width */
        height: 18px; /* smaller height */
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
    }

    #hamburger div {
        height: 1vh; /* thinner bars */
    }
    .in p{
        margin-top: 50%;
        font-size: 3rem;
    }
    #words p{
        margin-left: 10%;
        font-size: 1rem;
    }
    .course {
        display: flex;
        flex-direction: column-reverse !important;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .course #imagein p{
        padding-left: 5%;
    }
    #textc1, #textc2, #textc3, #textc4, #textc5, #textc6, #textc7, #textc8, #textc9,
    #imagec1, #imagein, #imagec3, #imagec4, #imagec5, #imagec6, #imagec7, #imagec8, #imagec9 {
        width: 100%;
    }
    #ic1in p{
        margin-right: 5%;
        margin-bottom: 80%;
        font-size: 2.5rem;
    }
    #c1in p{
        font-size: 1rem;
    }
    #textin p{
        font-size: 1.1rem;
    }
    #imagein p{
        margin-top: 22%;
        font-size: 2.4rem;
    }
    #ic3in{
        background-position: center;
    }
    #ic3in p{
        font-size: 2rem;
        font-weight: 400 !important;
        margin-bottom: 30%;
    }
    #c3in p{
        font-size: 1rem;
    }
    #ic4in h2{
        margin-top: 60%;
        margin-left: 40%;
    }
    #c4in p{
        font-size: 1.1rem;
    }
    #ic5in h2{
        font-size: 2.5rem;
    }
    #c5in p{
        font-size: 1.1rem;
    }
    #ic6in h2{
        margin-bottom: 40%;
    }
    #c6in p{
        font-size: 1.1rem;
    }
    #c7in p{
        font-size: 1.1rem;
    }
    #ic8in h2{
        margin-bottom: 60%;
        margin-right: 10%;
    }
    #c8in p{
        font-size: 1rem;
    }
    #ic9in{
        background-position: center;
    }
    #ic9in h2{
        margin-bottom: 80%;
    }
    #c9in p{
        font-size: 1rem;
    }
    a{
        text-decoration: underline;
        font-size: 1.2rem !important;
    }
    #footerp1 p{
        line-height: 1;
    }
    .contact-form {
        width: 90%; 
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        width: 100%; 
        font-size: 1.2rem; 
        padding: 12px; 
        height: 50px; 
        box-sizing: border-box;
    }

    
    .form-submit button {
        font-size: 0.9rem;
        padding: 5px 10px; 
    }

    
    #footerinline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }

    #footerinline img {
        width: 20px; 
        height: 20px;
    }

    .input-wrapper input{
        width: 30vw;
        height: 4vh;
    }

    #footerinline a img{
        width: 10vw;
        height: 5vh;
        margin-top: 5%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #footerinline p{
        font-size: 0.9rem;
    }
}
